*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: cadetblue;
    color: white;
}
#p1{
    background-color: rgb(145, 222, 225);
    color: white;
    width: 30vw;
    text-align: center;
    font-size: larger;
    
}     
#btn{
    background-color: rgb(5, 87, 90);
    color: white;
    border: 2px solid white;
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    font-size:medium;
}
